.container{
  
  padding: 0;
}
.about .row{
  background-image: url('/src/pages/images/many-children.jpg ');
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  text-align: center;
  margin-top: -20px;

}
.row h4{
  color: #EB9309;
  font-size: 40px;
  padding-top: 250px;

}
.why{
  margin-top:50px ;
  
}
.why .row p{
 font-weight: bold;
 line-height: 30px;
}
.why .row .col-md-4 .line{
  height: 3px;
  width: 100px;
  margin: 20px;
  background-color: #EB9309;

}
.team{
  margin-top: 30px;
}
.team .h2{
  text-align: center;
}
.team .hr{
  width: 100px;
  height: 3px;
  background-color: #EB9309;
  margin-left: 45%;
}
.team .mel img, .luc img{
border-radius: 50%;
height: 200px;
width: 200px;
}
.team .row .mel, .luc{
  margin-left: 25%;
}
.vmv{
  margin-top: 30px;
  margin-left: 50px;
}
.vmv h2{
  text-align: center;

}
.vmv .row{
  justify-content: space-evenly;
  font-weight: bold;
}
.vmv .row h6{
  font-size: large;
  background-color: #EB9309;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  margin-left: 35%;
}
.vmv .row .mission, .vission, .values{
text-align: center;
-moz-box-shadow:    3px 3px #EB9309;
-webkit-box-shadow:  3px 3px #EB9309;
box-shadow:        3px 3px #EB9309;
line-height: 40px;
height: 250px;
border-radius: 10px;
}
.test{
  margin-top: 30px;
  font-weight: bold;
}
.test h2{
  text-align: center;
  font-weight: bold;
}
.test .row img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 3px 3px #EB9309;
}
.test .row{
  text-align: center;
}