#contact p{
  font-weight: normal;
}
form .row .contact{
  border-radius: 5px;
  border: 1px solid gray;
}
/* form .row #contact{
  width: 50%;
} */
::placeholder{
  padding-right: 500px;
  font-weight: normal;
}
form button{
  background-color: #EB9309;
  color: black;
  width: 20%;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: -30px;
  font-weight: normal;
  margin-top: 20px;
}
form .row #contact{
  width: 550px;
  margin-top: 20px;
  font-weight: normal;
}