.main {
    color: black;
}

.hero {
    color: #eb9309;
    margin-top: 10%;
}

.section {
    margin-top: 5%;
}

.btnhero {
    border: 1px solid #eb9309;
    border-radius: 8px;
    background-color: #eb9309;
    font-weight: bold;
    margin-top: 5%;
}


/* .herosection {
    display: flex;
    justify-content: space-evenly;
} */

.blackcolor {
    border: 1px solid black;
    background-color: black;
    border-radius: 0 120px 120px 0;
    height: 18rem;
    width: 40rem;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    -o-transform: rotate(133deg);
    transform: rotate(133deg);
    margin-top: -20rem;
    margin-left: 42rem;
}

.orangecolor {
    border: 1px solid #eb9309;
    background-color: #eb9309;
    border-radius: 0 120px 120px 0;
    height: 10rem;
    width: 30rem;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    -o-transform: rotate(133deg);
    transform: rotate(133deg);
    margin-top: -20rem;
    margin-left: 55rem;
}


/* Button {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} */