            * {
                text-align: center;
                font-weight: bold;
            }
            
            .col-md-6 {
                margin-left: 20rem;
            }
            
             ::placeholder {
                font-weight: bold;
            }
            
            .submitBtn {
                background: rgb(235, 147, 9);
            }